.ModalWrapper{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 22em;
  height: 32em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.4em;
  z-index: 1000;
  .CloseButton{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    background-image: url("https://cdn-icons-png.flaticon.com/512/4219/4219073.png");
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .Modal{
    width: 100%;
    height: 100%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .ModalLogo{
      width: 100px;
      height: 100px;
      background-image: url("https://static.rustore.ru/apk/1038527/content/ICON/51792378-80bd-4ccc-a98d-b72e20270783.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    h1{
      font: 1.4em "Segoe UI";
      text-align: center;
    }
    .ModalContent{
      width: 100%;
      height: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .ModalContentInputs{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 60%;
        input{
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 0.2em;
          padding: 12px 10px;
        }
      }
      .ModalContentButtons{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        button{
          width: 100%;
          border: none;
          border-radius: 0.2em;
          padding: 12px 10px;
          background-color: rgb(30, 88, 255);
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}